/*===================== GENERAL STYLES =====================*/
*, h1, h2, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: .1px;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: none; 
  outline: none;
}

/*===================== SCROLL BAR =====================*/
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D02F70;
  border-radius: 4px;
}

/*===================== REPEATED STYLES =====================*/

/* === POSITION === */
.loader-cntr, .result-cntr, 
.dialog-modal, .time-up-message {
  position: fixed;
}

body, header, .quiz-info-cntr, 
.options-wrapper,  .info-dropdown, 
.info-dropdown > li,  .result-message-cntr {
  position: relative;
}

.info-option, .answer-radio, .result-img-cntr, 
.close-dialog-modal-btn, .gradient, .sr-only {
  position: absolute;
}

.loader-cntr, .result-cntr, 
.result-img-cntr, .gradient-quiz, .time-up-message {
  inset: 0;
}

.gradient-home2, .close-dialog-modal-btn {
  left: 0;
  bottom: 0;
}

header, .info-dropdown {
  z-index: 100;
}

/* === FLEX & GRID === */
.question-fieldset, .result-cntr, .time-up-message {
  display: grid;
}

.result-cntr, .time-up-message {
  place-items: center;
}

header, .hero-wrapper, .left-col,
.quiz-info-cntr, .info-dropdown,  
.loader-cntr, .quiz-wrapper, .quiz-form, 
.info-trigger, .question, 
.answer-label, .solution-score-cntr,
.result, .result-message-cntr, 
.result-img-cntr, .result-btns,
.quiz-details, .quiz-details-inner, 
.quiz-details-inner div, 
.preferred-difficulty-and-type {
  display: flex;
}

.hero-wrapper, .left-col,
.quiz-info-cntr, .info-dropdown,  
.loader-cntr, .quiz-wrapper, .quiz-form,
.solution-score-cntr, .result, 
.quiz-details {
  flex-direction: column;
}

header, .info-trigger, 
.solution-score-cntr, .quiz-details-inner {
  justify-content: space-between;
}

.loader-cntr, .answer-label, 
.result-message-cntr, .result-img-cntr {
  justify-content: center;
}

.loader-cntr, header, .hero-wrapper, 
.left-col, .info-trigger, .quiz-wrapper, 
.answer-label, .solution-score-cntr, .result, 
.result-message-cntr, .result-img-cntr, .quiz-details-inner {
  align-items: center;
}

.hero-wrapper, .left-col, .result-btns {
  justify-content: space-evenly;
}

.result-btns, .solution-score-cntr, 
.preferred-difficulty-and-type {
  flex-wrap: wrap;
}

.info-dropdown, .question-fieldset, 
.question  {
  gap: .5rem;
}

.loader-cntr, .quiz-info-cntr, 
.solution-score-cntr {
  gap: 1rem;
}

/* === SIZE === */
.quiz-wrapper, .try-again-btn, .result-message-cntr, 
.result-message, .result-btns, .close-dialog-modal-btn, 
.info-trigger, .start-quiz-btn, .info-dropdown,
.quiz-details  {
  width: 100%;
}

.info-trigger, .info-dropdown, 
.right-col, .dialog-modal, .gradient-home2 {
  width: 300px;
}

.info-trigger, .start-quiz-btn {
  height: 40px;
}

.gradient-home1, .result-img {
  aspect-ratio: 1/1;
}

/* === MARGIN === */
.result-btn, .question {
  margin-bottom: .5rem;
}

.end-quiz-btn, .solution-score-cntr {
  margin: 2rem 0 0 2rem;
}

/* === TYPOGRAPHY === */
h1, h2 > .quizzly {
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.info-trigger, .start-quiz-btn, .info-dropdown,
.dialog-modal > p, .close-dialog-modal-btn {
  font: 400 1rem/1 'Wix Madefor Display', sans-serif;
}

h1, .expand-arrow {
  font-size: 2rem;
}

.answer-label, .quiz-details-inner {
  font: 500 .85rem/1 'Wix Madefor Display', sans-serif;
}

.time-spent, .time-up-message, .close-dialog-modal-btn {
  font-weight: 700;
}

.hero-wrapper, .answer-label, 
.result-message, .dialog-modal, .time-up-message {
  text-align: center;
}

.info-option-label, .trigger-name {
  text-align: left;
}

/* === COLOR === */
body, button, a, 
.question, .answer-label {
  color: #111;
}

.info-option:checked + .info-option-label, 
.answer-label:has(.answer-radio:checked), .result-message, 
.close-dialog-modal-btn {
  color: #f6f6f6;
}

.question span:first-of-type, .solution-score, 
.result-score, .time-spent, .time-up-message {
  color: #D02F70;
}

/* === BACKGROUND === */
.answer-label:has(.answer-radio:checked), .close-dialog-modal-btn {
  background: #D02F70;
}

.info-option-label:hover, .answer-label:hover, 
.answer-label:has(.answer-radio:focus-visible:not(.answer-radio:checked)) {
  background: #3710D655;
}

.result-cntr, .dialog-modal::backdrop {
  background: #3710D671;
}

.result, .dialog-modal, .loader-cntr,
.result-img-cntr, .result-btn:is(:focus-visible, :hover) {
  background: #f6f6f6;
}

/* === BORDER === */
button, fieldset, 
.dialog-modal, .countdown {
  border: none;
}

.logo, .info-trigger, .start-quiz-btn,
.info-dropdown, ::-webkit-scrollbar-thumb, 
.change-theme-btn, .answer-label, 
.end-quiz-btn, .try-again-btn, 
.answer-label, .result-btn {
  border-radius: 5px;
}

.dialog-modal, .result, .countdown {
  border-radius: 10px;
}

/* === OUTLINE === */
a:focus-visible, button:focus-visible,
.answer-label:has(.answer-radio:focus-visible)  {
  outline: 2px solid #3710D6;
  outline-offset: 2px;
}

/* === OPACITY === */
.info-option, .answer-radio {
  opacity: 0;
}

/* === BUTTONS === */
.start-quiz-btn, .end-quiz-btn, .try-again-btn, .result-btn {
  color: #f6f6f6;
  background: linear-gradient(125deg, #3710D6, #3710D6, #D02F70);
  border: none;
  line-height: 0;
  transition: .1s transform ease-in-out;
}

.end-quiz-btn, .try-again-btn {
  padding: 1.3rem 2.2rem;
  font: 400 1.1rem/0 'Wix Madefor Display', sans-serif;
}

/* === TRANSITIONS === */
.start-quiz-btn:active, .end-quiz-btn:active, .try-again-btn:active, .result-btn:active {
  transform: translateY(3px);
}
.answer-label, .close-dialog-modal-btn {
  transition: .5s background ease-in-out;
}

/* === ANIMATIONS === */
.start-quiz-btn:is(:focus-visible, :hover), .end-quiz-btn:is(:focus-visible, :hover), .try-again-btn:is(:focus-visible, :hover) {
  animation: .3s bgGradient ease forwards;
}

/* === CURSOR === */
button, info-dropdown > li *, .answer-label {
  cursor: pointer;
}

/* === OVERFLOW === */
.trigger-name, .result, 
.dialog-modal, .result-cntr, 
.countdown {
  overflow: hidden;
}

/* === USER SELECT === */
.theme-icon, .logo, 
.right-col, .expand-arrow, .result-img {
  user-select: none;
}

/*===================== BODY =====================*/
body {
  min-height: 100svh;
  background-color: #FDFDFD;
}

/*===================== LOADER =====================*/
.loader-cntr {
  z-index: 1000;
}

.loader-cntr svg {
  width: 100px;
}

.loader-text {
  font: 500 1rem/1 'Wix Madefor Display', sans-serif;
}

/*===================== HEADER =====================*/
header {
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.logo {
  text-decoration: none;
}

.theme-icon {
  font-size: 1.7rem;
  transition: .1s all ease-in-out;
  font-variation-settings: 
  'wght' 400,
  'FILL' 0,
  'opsz' 24
}

.theme-icon:hover, 
.change-theme-btn:focus-visible .theme-icon {
  color: #053db6;
  text-shadow: 0 0 20px #c2b3fa;
  font-variation-settings: 
  'FILL' 1
}
/*===================== HERO =====================*/
.hero-wrapper {
  padding: 1rem 1.5rem;
  padding-bottom: 6rem;
}

h2 {
  font: 500 1.9rem/1.2 'Quicksand', sans-serif;
}

.trivia {
  text-decoration:4px  underline wavy #3710D6;
}

.quizzly {
  color: transparent;
  background: linear-gradient(45deg, #3710D6 30%, #D02F70);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.hero-subtext {
  margin: 1rem 0 1.7rem;
  font: 400 1rem/1.5 'Wix Madefor Display', sans-serif;
}

/*=== QUIZ PREFERENCES ===*/
.quiz-info-cntr {
  width: 80%;
  z-index: 12;
}

.info-trigger {
  padding: 0 5% 0 12px;
  border: 1px solid #111;
}

.trigger-name {
  padding: .2em 0;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.category-options {
  grid-area: category-options;
}

.expand-arrow {
  font-variation-settings: 'wght' 300;
  transition: .3s transform ease;
}

.info-dropdown {
  max-height: 150px;
  margin: .2rem 0;
  background: #e8e8e897;
  overflow: auto;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.info-option-label {
  display: block;
  padding: .5rem 5% .5rem .75rem;
  line-height: 1.2;
}

.info-option:checked + .info-option-label {
  background: #3710D6;
}

.difficulty-options {
  grid-area: difficulty-options;
}

.type-options {
  grid-area: type-options;
}

/*=== START QUIZ BTN ===*/
.start-quiz-btn {
  grid-area: start-btn;
}


/*===================== RIGHT COL =====================*/
.right-col {
  order: -1;
  background: transparent url(assets/images/hero_img_black.png) center/cover no-repeat;
  height: 300px;
  margin: 1.5rem 0;
  animation: 1.5s bounce alternate infinite;
}


/*===================== QUIZ FORM =====================*/
.quiz-form {
  z-index: 99;
  max-width: 800px;
  padding: 3rem 1.5rem 4rem;
}

.question-fieldset {
  grid-template-columns: 1.5rem repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: auto;
  justify-content: start;
}

.question-fieldset:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

.question {
  grid-column: 1/6;
  grid-row: 1/2;
  font: 700 1.1rem/1.5 'Quicksand', sans-serif;
}

.answer-label:first-of-type, .answer-label:nth-of-type(3) {
  grid-column: 2/4;
}

.answer-label:nth-of-type(2), .answer-label:nth-of-type(4) {
  grid-column: 4/6;
}

.answer-label {
  padding: .75rem 1rem;
  border: 1px solid #3710D6;
}

.answer-label:has(.answer-radio:checked) {
  border-color: #D02F70;
}

.answer-label:has(.answer-radio:focus-visible:not(.answer-radio:checked)) {
  outline: none;
}

.end-quiz-btn {
  width: calc(100% - 2rem);
}

/* === SOLUTION SCORE === */
.solution-score {
  text-shadow: 1px 1px 0 #f6f6f6;
  font: 700 1.25rem/1.5 'Wix Madefor Display', sans-serif;
}


/*===================== RESULT =====================*/
.result-cntr {
  padding: 2rem 0;
  z-index: 1000;
  overflow-y: scroll;
}

.result {
  width: 85%;
  height: 400px;
}

.result-message-cntr {
  height: 50%;
  background: #3710D6 url(assets/images/quiz_bg.png) left/cover no-repeat;
}

.result-message {
  padding: 0 5% 2% 5%;
  text-shadow: 0 0 1px #000;
  font: 500 1.5rem/1.2 'Quicksand', sans-serif;
}

.result-img-cntr {
  padding: 1rem 1.2rem;
  width: -moz-fit-content;
  width: fit-content;
  height: fit-content;
  height: -moz-fit-content;
  margin: auto auto -10% auto;
  border-radius: 50%;
  box-shadow: -1px -1px 50px #fdf3bb inset;
}

.result-img {
  width: 60px;
}

.result-score {
  margin-block: 20% 10%;
  font: 700 2rem/1 'Wix Madefor Display', sans-serif;
}

.result-btn {
  padding: 1.1rem 2.1rem;
  font: 500 1rem/0 'Wix Madefor Display', sans-serif;
}

.result-btn:is(:focus-visible, :hover) {
  color: #3710D6;
  box-shadow: -2px -2px 0 #D02F70 inset;
}

.quiz-details {
  gap: 1.5rem;
  padding: 0 0 2rem 1.7rem;
}

.quiz-details h2 {
  font: 500 1.85rem/1 'Quicksand', sans-serif;
}

.quiz-details-inner, 
.preferred-difficulty-and-type {
  gap: .25rem;
}

.preferred-difficulty-and-type {
  justify-content: end;
}

.countdown {
  width: 50%;
  height: 8px;
}

.countdown, .countdown::-webkit-progress-bar {
  background-color: #F5DEEB;
} 

.countdown::-webkit-progress-value {
  background-color: #D02F70;
  transition: .5s all ease;
}   
.countdown::-moz-progress-bar {
  background-color: #D02F70;
  transition: .5s all ease;
} 

.time-up-message {
  font: 700 6rem/1 'Dancing Script', cursive;
  text-shadow: 2px 2px 0 #f6f6f6;
  transition: .5s transform ease-in-out;
  transform: scale(0);
}

.show-time-up-message {
  transform: scale(1);
}

/*===================== DIALOG =====================*/
.dialog-modal {
  margin: auto;
  padding: 2.65rem 1.5rem 4.85rem 1.5rem;
}

.dialog-modal > p {
  line-height: 1.5;
}

.warning-icon {
  margin-block-end: 1rem;
  font-size: 2.5rem;
  color: #ff9100;
  font-variation-settings:
  'FILL' 1
}

.close-dialog-modal-btn {
  align-self: flex-end;
  padding: 1rem 0;
  font-size: .85rem;
}

.close-dialog-modal-btn:is(:focus, :focus-visible, :hover) {
  background: #fc3d89;
}

/*===================== KEYFRAMES =====================*/
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(6px);
  }
}

@keyframes bgGradient {
  0% {
    background: linear-gradient(125deg, #3710D6, #3710D6, #D02F70);
  }
  50% {
    background: linear-gradient(125deg, #3710D6, #3710D6, #3710D6, #3710D6, #D02F70 2%, #3710D6);
  }
  100% {
    background: linear-gradient(125deg, #D02F70 2%, #D02F70 2%, #D02F70 2%, #D02F70 2%, #3710D6, #3710D6);
  }
}

/*===================== GRADIENT BACKGROUNDS =====================*/
.gradient {
  z-index: 0;
  background-image: url(assets/images/gradient.png);
}

.gradient-quiz {
  left: -190px;
  background: transparent url(assets/images/gradient.png) center/70% no-repeat;
}

.gradient-home1 {
  display: none;
  top: 0;
  right: 0;
  width: 500px;
  background: transparent url(assets/images/gradient.png) -10% 110%/170% no-repeat;
}

.gradient-home2 {
  height: 500px;
  background: transparent url(assets/images/gradient.png) -150px 900%/150% no-repeat;
}

@media screen and (max-width: 500px) {
  .gradient-quiz {
    background: transparent url(assets/images/gradient.png) center/200% no-repeat !important;
  }
}


/*===================== SR ONLY =====================*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*===================== MODIFIERS =====================*/
.hidden {
  display: none;
}

.disabled-option {
  color: #555;
  border-color: #555;
  cursor: not-allowed;
}

.disabled-option:hover {
  background: none;
}

.right-answer, .wrong-answer {
  color: #f6f6f6;
}

.right-answer {
  background-color: #21b879 !important;
  border: 1px solid #21b879 !important;
}

.wrong-answer {
  background-color: #fd3939 !important;
  border: 1px solid #fd3939 !important;
}

/* === DARK THEME === */
.button-dark, .logo-dark, .quiz-form-dark, 
.body-dark, .loader-cntr-dark, 
.dialog-modal-dark, .solution-score-dark, 
.time-spent-dark, .time-up-message-dark {
  color: #f6f6f6;
}

.result-img-cntr-dark, .result-dark,
.body-dark, .loader-cntr-dark, .dialog-modal-dark {
  background: #111;
}

.theme-icon-dark:hover, 
.change-theme-btn:focus-visible .theme-icon-dark {
  color: #fafa40 !important;
  text-shadow: 0 0 10px #fafa40 !important;
}

.result-img-cntr-dark {
  box-shadow: -1px -1px 50px #ffb6c171 inset;
}

.info-trigger-dark {
  border: 1px solid #f6f6f6;
}

.info-dropdown-dark {
  background: #11111197;
}

.right-col-dark {
  background: transparent url(assets/images/hero_img_white.png) center/cover no-repeat;
}

.rotate-arrow {
  transform: rotate(180deg);
}

.solution-score-dark, .time-spent-dark, 
.time-up-message-dark {
  text-shadow: 1px 1px 0 #D02F70;
}

.countdown-dark, .countdown-dark::-webkit-progress-bar {
  background-color: #222222;
} 

/*===================== MEDIA QUERIES =====================*/
@media screen and (min-width: 768px) {

  .loader-cntr svg {
    width: 150px;
  }

  main, .wrapper {
    display: flex;
    align-items: center;
  }

  .wrapper {
    flex-direction: column;
    min-height: 100dvh;
    padding: 0 5%;
  }
  
  header {
    padding: 2rem 0 0 0;
  }

  header, main {
    width: 100%;
    max-width: 1400px;
  }

  main {
    flex: 1;
  }

  .left-col {
    max-width: 580px;
  }

  .hero-wrapper {
    width: 100%;
  }

  .gradient-home1 {
    display: block;
  }

  .quiz-info-cntr {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 40px);
    grid-template-areas: "category-options difficulty-options"
                         "type-options start-btn";
    justify-content: center;
    width: 80%;
  }

  .info-trigger, .start-quiz-btn,
  .info-dropdown {
    width: 200px;
  }

  .result {
    width: 500px;
    height: 450px;
  }

  .result-message-cntr {
    height: 50%;
  }
  
  .result-message {
    padding: 0 5% 10% 5%;
    font-size: 2.2rem;
  }

  .result-img {
    width: 80px;
  }
  
  .result-score {
    margin-block: 14% 8%;
    font-size: 3rem;
  }
  
  .result-btn {
    padding: 1.3rem 2.3rem;
    font-size: 1.3rem;
  }

  .question {
    font-size: 1.23rem;
  }

  .quiz-details h2 {
    font-size: 2.23rem;
  }

  .time-up-message{
    font: 700 8rem/1 'Dancing Script', cursive;
  }

  .answer-label, .quiz-details-inner {
    font-size: 1rem;
  }

  .answer-label {
    padding: .5rem 1rem;
  }

  .answer-label:first-of-type {
    grid-column: 2/3;
  }
  
  .answer-label:nth-of-type(2) {
    grid-column: 3/4;
  }

  .answer-label:nth-of-type(3) {
    grid-column: 4/5;
  }

  .answer-label:nth-of-type(4) {
    grid-column: 5/6;
  }

  .solution-score-cntr {
    flex-direction: row;
    justify-content: flex-end;
  }

  .solution-score {
    font-size: 1.5rem;
  }

  .try-again-btn, .end-quiz-btn {
    width: -moz-fit-content;
    width: fit-content;
    padding-inline: 3rem;
  }

  .end-quiz-btn {
    align-self: flex-end;
  }
}

@media screen and (min-width: 1024px) {

  header {
    position: relative;
    z-index: 100;
  }

  .theme-icon {
    font-variation-settings: 
    'wght' 300
  }

  .hero-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    padding-block: 0;
    text-align: start;
  }

  .left-col {
    display: block;
    width: 70%;
  }

  .quiz-info-cntr {
    justify-content: flex-start;
  }

  .right-col {  
    flex: none;
    width: 400px;
    height: 400px;
    margin: 0 0 0 2.5rem;
    order: 1;
  }
}

@media screen and (min-width: 1280px) {

  h2 {
    font-size: 2.5rem;
  }

  .hero-subtext {
    margin-bottom: 1.9rem;
    font-size: 1.3rem;
  }

  .info-trigger, .start-quiz-btn,
  .info-dropdown {
    font-size: 1.2rem;
  }

  .info-trigger, .start-quiz-btn,
  .info-dropdown {
    width: 250px;
  }

  .right-col {
    width: 450px;
    height: 450px;
  }
}