/*===================== GENERAL STYLES =====================*/
*, h1, h2, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: .2px;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D02F70;
  border-radius: 4px;
}

button {
  background: none; 
  outline: none;
  cursor: pointer;
  border: none;
}

a:focus-visible, button:focus-visible {
  outline: 2px solid #3710D6;
  outline-offset: 1px;
}

fieldset {
  border: none;
}

/*===================== BODY =====================*/
body {
  position: relative;
  min-height: 100svh;
  background-color: #FDFDFD;
}

.loader-cntr {
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  z-index: 1000;
}

.loader-cntr svg {
  width: 100px;
}

.loader-text {
  font: 400 1.3rem/1 'Wix Madefor Display', sans-serif;
}

/*===================== REPEATED STYLES =====================*/

body, button, a {
  color: #111;
}

h1, h2 > .quizzical {
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-wrapper, .left-col,
.quiz-info-cntr, .info-dropdown,  
.loader-cntr, .quiz-wrapper, .quiz-form {
  display: flex;
  flex-direction: column;
}

.hero-wrapper, .left-col {
  justify-content: space-evenly;
  align-items: center;
}

.info-trigger, .start-quiz-btn {
  height: 40px;
}

.info-trigger, .start-quiz-btn,
.info-dropdown {
  width: 100%;
  font: 400 1rem/1 'Wix Madefor Display', sans-serif;
}

.info-trigger, .start-quiz-btn,
.info-dropdown, ::-webkit-scrollbar-thumb, 
.change-theme-btn, .answer-label, .end-quiz-btn {
  border-radius: 5px;
}

/*===================== HEADER =====================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

.logo {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

.theme-icon {
  font-size: 1.7rem;
  font-variation-settings: 
  'wght' 400,
  'FILL' 0,
  'opsz' 24
}

/*===================== HERO =====================*/
.hero-wrapper {
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 1.5rem;
  padding-bottom: 6rem;
  text-align: center;
}

h2 {
  font: 500 1.9rem/1.2 'Quicksand', sans-serif;
}

.trivia {
  text-decoration: underline wavy #3710D6;
}

.quizzical {
  color: transparent;
  background: linear-gradient(45deg, #3710D6 30%, #D02F70);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.hero-subtext {
  margin: 1rem 0 1.7rem;
  font: 400 1rem/1.5 'Wix Madefor Display', sans-serif;
}

/*========== HERO OPTIONS ==========*/
.quiz-info-cntr {
  position: relative;
  gap: 1rem;
  width: 80%;
  z-index: 12;
}

.options-wrapper {
  position: relative;
}

.info-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5% 0 12px;
  border: 1px solid #111;
}

.trigger-name {
  padding: .2em 0;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: capitalize;
  overflow: hidden;
  white-space: nowrap;
}

.category-options {
  grid-area: category-options;
}

.expand-arrow {
  font-size: 2rem;
  font-variation-settings: 'wght' 300;
  transition: .3s transform ease;
}

.info-dropdown {
  position: relative;
  z-index: 100;
  gap: .5rem;
  max-height: 150px;
  margin: .2rem 0;
  background: #e8e8e897;
  overflow: auto;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.info-dropdown > li {
  position: relative;
}

.info-dropdown > li * {
  cursor: pointer;
}

.info-dropdown > li:focus-visible {
  outline: 2px solid #D02F70;
}

.info-option {
  position: absolute;
  opacity: 0;
}

.info-option-label {
  display: block;
  padding: .5rem 5% .5rem .75rem;
  text-align: left;
  line-height: 1.2;
}

.info-option-label:hover {  
  background: #3710D655;
}

.info-option:checked + .info-option-label {
  color: #f6f6f6;
  background: #3710D6;
}

.difficulty-options {
  grid-area: difficulty-options;
}

.type-options {
  grid-area: type-options;
}


/* START BTN */
.start-quiz-btn, .end-quiz-btn {
  grid-area: start-btn;
  color: #f6f6f6;
  background: linear-gradient(125deg, #3710D6, #3710D6, #D02F70);
  border: none;
  line-height: 0;
  transition: .1s transform ease-in-out;
}

.start-quiz-btn:hover, .end-quiz-btn:hover {
  background: linear-gradient(to bottom right, #4213fc, #3710D6, #290c9c, #190763, #190763);
}

.start-quiz-btn:active, .end-quiz-btn:active {
  transform: translateY(3px);
}

/*===================== RIGHT COL =====================*/

.right-col {
  order: -1;
  background: transparent url(assets/hero_img_black.png) center/cover no-repeat;
  width: 300px;
  height: 300px;
  margin: 1.5rem 0;
  animation: 1.5s bounce alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(6px);
  }
}

/*===================== QUESTIONS =====================*/

.quiz-wrapper {
  width: 100%;
  align-items: center;
  margin: 4rem 0;
}

.quiz-form {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 850px;
}

.question-fieldset {
  display: grid;
  grid-template-columns: 1.7rem repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 8px;
  justify-content: start;
  margin-top: 1rem;
}

.question-fieldset legend {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
  color: #111;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  font: 700 1.23rem/1.5 'Quicksand', sans-serif;
}

.question-fieldset legend span:first-of-type {
  color: #D02F70;
}

.answer-radio {
  position: absolute;
  opacity: 0;
}

.answer-label:first-of-type {
  grid-column: 2/3;
}

.answer-label {
  padding: .5rem 1rem;
  color: #111;
  font: 500 1rem/1 'Wix Madefor Display', sans-serif;
  border: 1px solid #3710D6;
  border-radius: 5px;
  cursor: pointer;
}

.answer-label:has(.answer-radio:checked ) {
  background: #D02F70;
  color: #f6f6f6;
  border-color: #D02F70;
}

/* END BTN */
.end-quiz-btn {
  align-self: flex-end;
  margin-top: 1rem;
  padding: 1.2rem 2rem;
  font: 400 1.25rem/0 'Wix Madefor Display', sans-serif;
}

.gradient {
  position: absolute;
  inset: 0;
  left: -190px;
  background: transparent url(assets/gradient.png) center/cover no-repeat;
  z-index: 1;
  border: 1px solid #000;
}

/*===================== BLOBS =====================*/
.blob1 {
  position: absolute;
  left: -14%;
  bottom: 0px;
  z-index: 1;
  width: 300px;
  height: 200px;
}

/*===================== MODIFIERS =====================*/
.hidden {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* DARK THEME */
.body-dark, .loader-cntr-dark {
  background: #111;
  color: #f6f6f6;
}

.button-dark, .logo-dark, .form-dark {
  color: #f6f6f6;
}

.info-trigger-dark {
  border: 1px solid #f6f6f6;
}

.info-dropdown-dark {
  background: #11111197;
}

.right-col-dark {
  background: transparent url(assets/hero_img_white.png) center/cover no-repeat;
}

.rotate-arrow {
  transform: rotate(180deg);
}

/*===================== MEDIA QUERIES =====================*/

@media screen and (min-width: 768px) {

  .loader-cntr svg {
    width: 150px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    padding: 0 5%;
  }
  
  header {
    padding: 2rem 0 0 0;
  }

  header, main {
    width: 100%;
    max-width: 1400px;
  }

  main {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .left-col {
    max-width: 580px;
  }

  .hero-wrapper {
    width: 100%;
    padding-bottom: 0;
  }

  .blob1 {
    width: 450px;
    height: 300px;
  }

  .quiz-info-cntr {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 40px);
    grid-template-areas: "category-options difficulty-options"
                         "type-options start-btn";
    justify-content: center;
    width: 80%;
  }

  .info-trigger, .start-quiz-btn,
  .info-dropdown {
    width: 200px;
  }
}

@media screen and (min-width: 1024px) {

  header {
    position: relative;
    z-index: 100;
  }

  .theme-icon {
    font-variation-settings: 
    'wght' 300
  }

  .hero-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
    text-align: start;
  }

  .left-col {
    display: block;
    width: 70%;
  }

  .quiz-info-cntr {
    justify-content: flex-start;
  }

  .right-col {  
    flex: none;
    width: 400px;
    height: 400px;
    margin: 0 0 0 2.5rem;
    order: 1;
  }
}

@media screen and (min-width: 1280px) {

  h2 {
    font-size: 2.5rem;
  }

  .hero-subtext {
    margin-bottom: 1.9rem;
    font-size: 1.3rem;
  }

  .info-trigger, .start-quiz-btn,
  .info-dropdown {
    font-size: 1.2rem;
  }

  .info-trigger, .start-quiz-btn,
  .info-dropdown {
    width: 250px;
  }

  .right-col {
    width: 450px;
    height: 450px;
  }

  .blob1 {
    width: 650px;
    height: 500px;
  }
}